* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}

body {
    background-color: var(--darkreader-neutral-background);
    color: var(--darkreader-neutral-text);
}

header {
    font-size: 2rem;
    padding: 20px;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

main {
    padding: 20px;
}

footer {
    width: 100%;
    position:absolute;
    bottom:0;
    padding:20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px 20px;
}

.library-container {
    outline:1px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: flex-start;
    gap:10px;
}

.library-card {
    outline: 1px solid white;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    z-index: 1;
}