@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}

body {
    background-color: var(--darkreader-neutral-background);
    color: var(--darkreader-neutral-text);
    font-family: Roboto;
}

header {
    font-size: 2rem;
    padding: 20px;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

footer {
    width: 100%;
    position:absolute;
    bottom:0;
    padding:20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px 20px;
}

.add-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 20px;
}

.add {
    grid-area: 4 /  2 / 5 / -1;
    display: flex;
    gap: 5px;
    align-items: center;
}

main > form > div > button {
    width: 100%;
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-items: flex-start;
    gap:20px;
    padding: 20px;
}

.library-card {
    position: relative;
    outline: 1px solid white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
}

.library-card > .status {
    padding-left: 5px;
    padding-right: 5px;
}

.library-card > .delete {
    position:absolute;
    top: 5px;
    right: 10px;
    text-align: right;
    border: none;
    color:var(--darkreader-neutral-text);
    font-weight:bolder;
    font-size: larger;
    background-color: transparent;
}

.add-button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-button:hover,
.add-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.add-button:active {
  background: var(--color);
  color: #fff;
}